<div class="container bg1">
  <div class="col-lg">
    <h1>To-Do App</h1>
    <p>create a list and complete your tasks!</p>
  </div>
</div>

<div class="container">
  <div class="col-sm bg2">
    <h4 class="hd4-color">Create</h4>
    <p>Create a list anytime anywhere!</p>
  </div>

  <div class="col-sm bg2">
    <h4 class="hd4-color">Save</h4>
    <p>Your lists will automatically be saved to our database so you won't have to worry about losing anything</p>
  </div>

  <div class="col-sm bg2">
    <h4 class="hd4-color">Look</h4>
    <p>Browse your lists at any time to see what you need to get done!</p>
  </div>
</div>

<div class="container">
  <div class="col-lg">
    <a class="create-btn" href="/lists/create">Create</a>
  </div>
</div>
