<!DOCTYPE html>
<html>
  <head>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta charset="utf-8">
    <link rel="stylesheet" href="/app.css">
    <link href="https://fonts.googleapis.com/css?family=Chivo" rel="stylesheet">
    <title>Todo app</title>
  </head>
  <body>
    <%= yield %>
  </body>
</html>
