<div class="container bg1">
  <div class="col-lg">
    <h2>Create a list</h2>
  </div>
</div>


<div class="container">
  <form class="position" action="#" method="post">
    <div class="col-lg">
      <label for="Name">Name</label>
      <input id="name" type="text" name="name" placeholder="shopping...">
      <button type="submit" name="button">Make List</button>
    </div>
  </form>
</div>
