<div class="container bg1">
  <div class="col-lg">
    <h2><%= @list.name() %></h2>
  </div>
</div>


<% @tasks.not_done.each() do |task|%>
  <% if task.list_id() == @list.id() %>
  <h3 class="center"><a href="#"><%= task.description() %></a></h3>
  <% end %>
<% end %>
