<div class="container bg1">
  <div class="col-lg">
    <h2><%= @list.name() %></h2>
  </div>
</div>

<div class="container">
  <form class="position" action="#" method="post">
    <div class="col-lg">
      <label for="description">New Task</label>
      <input id="description" type="text" name="description" placeholder="milk, eggs, tissues, etc..." required>
      <button type="submit" name="button">Make Task</button>
    </div>
  </form>
</div>
