* {
  font-family: 'Chivo', sans-serif;
}

body {
  margin: 0px;
  width: 100%;
  height: 100%;
}

.container {
  padding: 25px;
  display: flex;
  flex-wrap: wrap;
}

.col-sm {
  text-align: center;
  width: 33.3%;
}

.col-lg {
  text-align: center;
  width: 100%;
}

.bg1 {
  text-align: center;
  background-color: #f1f1f1;
}

.hd4-color {
  color: burlywood;
}

.create-btn {
  text-decoration-line: none;
  color: black;
  border-radius: 2px;
  padding: 10px;
  background-color: #E1C18C;
}

.create-btn:hover {
  color: snow;
}

.position {
  margin: auto;
}

input {
  font-size: 15px;
  outline: none;
  padding: 5px;
  border-radius: 2px;
  border: 1px solid black;
}

label {
  color: burlywood;
  font-size: 20px;
}

button {
  background-color: burlywood;
  padding: 5px;
  margin-left: 5px;
  font-size: 15px;
  border-radius: 2px;
  border: none;
}

button:hover {
  color: snow;
}

.center {
  text-align: center;
  color: burlywood;
}

a {
  text-decoration: none;
  color: inherit;
}

a:hover {
  color: black;
}
